*.iml
/.gradle
/.idea
/.DS_Store
/build
/gradle
/captures
/projectFilesBackup
/local.properties
/gradle.properties
/gradlew
/gradlew.bat
/app/build
/app/libs
/app/src/test/
/app/src/androidTest/
.externalNativeBuild
.cxx